@model waInventario.Models.Item.Query.RetornarPorId
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FKLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edicao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PathImagem)
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.FKLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Edicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.PathImagem)
                </td>

            </tr>
        </tbody>

    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a asp-action="Index">Voltar à lista</a>
</div>