@model IEnumerable<waInventario.Models.Item.Query.RetornarPorId>

@{
    ViewData["Title"] = "Index";
}

<h1>Itens</h1>

<hr>

<div>
    <form asp-action="Buscar">
        <ul class="nav navbar-nav">
            <li>
                <input name="pesquisa" class="form-control" />
            </li>
            <li>
                <button class="btn btn-default">Pesquisar</button>
            </li>
        </ul>
    </form>
    
</div>

<br><br>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FKLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-default">Novo item</a>
</p>
