@model waInventario.Models.Local.Query.LocalViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <hr />
  
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => modelItem.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
                </td>
            </tr>
        </tbody>

    </table>
    
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Voltar à lista</a>
</div>
