@model IEnumerable<waInventario.Models.Local.Query.LocalViewModel>

<h1>Locais</h1>

<p>
    <a asp-action="Create">Novo local</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>