@model IEnumerable<waInventario.Models.Local.Query.LocalViewModel>

<br>

<h1>Locais</h1>

<br />

<div>
    <form asp-action="Buscar">

        <table class="table">
            <tr>
                <th>
                    <input name="pesquisa" class="form-control" />
                </th>
                <th>
                    <button class="btn btn-default">Pesquisar</button>
                </th>
            </tr>
        </table>

    </form>
    
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-default">Novo local</a>
</p>